<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

  </head>
  <body>
    <script src="/javascripts/app.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src ="/jquery/dist/jquery.min.js"></script>
    
    <%- include partials/nav_bar.ejs %>
    <h1>Welcome to the  <%= title %> page</h1>
    <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>        
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Date</th>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-1">Length</th>
                <th class="text-center col-4">Exercises</th>
            </tr>
            <% for(let count=0;count<WorkoutList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= WorkoutList[count].date %></td>
                <td class="text-center col-2"><%= WorkoutList[count].name %></td>
                <td class="text-center col-1"><%= WorkoutList[count].Length %></td>
                <td class="text-center col-4"><%= WorkoutList[count].Exercises %></td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
  </body>
</html>
