<!DOCTYPE html>
<html>
<%- include ../partials/header.ejs %>
<body>
<%- include ../partials/nav_bar.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <a href="/workoutslist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Workout</a>      
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Date</th>
                <th class="text-center col-1">Length</th>
                <th class="text-center col-4">Exercises</th>
            </tr>
            <% for(let count=0;count<WorkoutList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= WorkoutList[count].Name %></td>
                <td class="text-center col-2"><%= WorkoutList[count].Date %></td>
                <td class="text-center col-1"><%= WorkoutList[count].Length %></td>
                <td class="text-center col-4"><%= WorkoutList[count].Exercises %></td>
                <td class="text-center col-1">
                    <a href="/workoutslist/edit/<%= WorkoutList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/workoutslist/delete/<%= WorkoutList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<%- include ../partials/footer.ejs %>
</body>
</html>